.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 50px;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 15px;
}

.toolbar__logo {
    padding-left: 20px;
}

.toolbar__logo a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.spacer {
    flex: 1;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding-right: 20px;
}

.toolbar_navigation-items a {
    color: black;
    text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: rgb(255, 0, 98);
}


@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }

    .toolbar__logo {
        padding-left: 0px;
    }
}